body {
   font-family: Helvetica, Geneva, Arial, sans-serif;
   font-size: medium;
   font-color: #000;
   background-color: #fff;
}

a:link, a:active, a:visited {
   color: #CD0000;
}

input {
   margin-bottom: 5px;
}

p {
   line-height: 150%;
}

div#header {

   text-align: center;
   padding-bottom: 15px;
}

